/* Font Faces */
@font-face {
  font-family: "DINLight";
  src: url("fonts/DIN Light Regular.woff2") format("woff2"),
    url("fonts/DIN Light Regular.woff") format("woff"),
    url("fonts/DIN Light Regular.ttf") format("truetype");
}

/* Base Styles */
body {
  font-family: "DINLight", "Roboto Mono", "Courier Prime", sans-serif;
  background-color: #000;
  margin: 0;
  color: white;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

header {
  text-align: left;
  max-width: 90%;
}

.logo {
  padding: 10px;
  max-height: 15vh;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #000;
}

/* Sponsor Container Styles */
.sponsors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.sponsor-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.sponsor-column img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Responsive Design Adjustments */
@media (min-width: 600px) {
  body {
    overflow-y: hidden;
  }

  .sponsors-container {
    flex-direction: row;
    justify-content: space-between;
    height: 75vh;
  }

  .sponsor-column {
    width: calc(50% - 20px); /* Adjust based on padding */
  }

  .sponsor-column img {
    max-width: 80%; /* Adjust for better visibility and spacing */
  }
}

@media (max-width: 600px) {
  .sponsors-container {
    flex-direction: column;
    align-items: center;
  }

  .sponsor-column {
    width: 100%;
  }

  .sponsor-column img {
    padding: 30px;
    max-width: 70vw;
  }
}
